body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
menu, section {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}
figure {
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}